/* Use freely available fonts, avoids Google fonts too. */
:root {
  --md-text-font: 'golos_ui';
  --md-code-font: 'firacode_retina';
}

/* Trying to match a bit my color palette. */
:root > * {
  --md-primary-fg-color: #07486c;
  --md-default-bg-color: #f7f7f7;
  --md-code-bg-color: #e8e8e8;
}
@media screen {
  /* Slate theme, i.e. dark mode */
  [data-md-color-scheme='slate'] {
    --md-default-bg-color: #272727;
    --md-code-bg-color: hsla(var(--md-hue), 15%, 15%, 1);
  }
}

/* Bump the default text size for larger screens.
Sadly, it makes tooltips looks un-centered, need to investigate
but it looks to be dynamically reajusted through JS. */
@media screen and (min-width: 45em) {
  .md-typeset {
    font-size: 0.9rem;
  }
  .md-typeset :is(.admonition, details) {
    font-size: 0.8rem;
  }
  .md-tooltip__inner.md-typeset {
    font-size: 0.8rem;
  }
}

article p > a {
  text-decoration: underline;
}

/* Set fast/restart button of termynals on the right. */
a[data-terminal-control] {
  text-align: right;
  display: block;
  color: #aebbff;
}

/* Equivalent to
https://squidfunk.github.io/mkdocs-material/reference/grids/#using-card-grids
At some point, beginning an Insider? (Material for MkDocs sponsoring)
 */
.md-typeset .grid {
  grid-gap: 0.4rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  margin: 1em 0;
}
.md-typeset .grid.cards > :is(ul, ol) {
  display: contents;
}
.md-typeset .grid.cards > :is(ul, ol) > li,
.md-typeset .grid > .card {
  border: 0.05rem solid var(--md-default-fg-color--lightest);
  border-radius: 0.1rem;
  display: block;
  margin: 0;
  padding: 0.8rem;
  transition: border 0.25s, box-shadow 0.25s;
}
.md-typeset .grid.cards > :is(ul, ol) > li:is(:focus-within, :hover),
.md-typeset .grid > .card:is(:focus-within, :hover) {
  border-color: transparent;
  box-shadow: var(--md-shadow-z2);
}
