@font-face {
  font-family: 'golos_ui';
  src: url('../fonts/Golos-UI_Regular.woff2') format('woff2'),
       url('../fonts/Golos-UI_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'golos_ui';
  src: url('../fonts/Golos-UI_Bold.woff2') format('woff2'),
       url('../fonts/Golos-UI_Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'firacode_retina';
  src: url('../fonts/FiraCode-Retina.woff2') format('woff2'),
       url('../fonts/FiraCode-Retina.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
